body {
  font-family: Arial, sans-serif;
}

.js-todo-list {
  margin-top: 20px;
}

.delete-todo-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
}
